.app-about {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	scrollbar-width: none;
}

.app-about__text > * {
	font-size: 1rem;
	font-weight: 400;
	font-family: "Manrope-Regular";
	user-select: none;
	line-height: 1.5rem;
	animation: left-fade-in 1.5s;
	margin: 0.5rem 0;
	color: var(--default-text-color);
	text-align: justify;
}

.app-about__text a {
	color: var(--default-text-color);
}

.app-about__text a:hover {
	color: var(--hovered-text-color);
}

@media screen and (min-width: 768px) {
	.app-about__text {
		width: 50%;
	}
}

@media screen and (min-width: 1280px) {}

@media screen and (min-width: 1600px) {
	.app-about__text {
		width: 33%;
	}
}

@media screen and (min-width: 1920px) {}

@media screen and (min-width: 2560px) {}

@media screen and (min-width: 3840px) {}