* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: solid .1px black;
}

.app {
	position: fixed;
}

.app-header {
	height: 4rem;
	width: 100vw;
	top: 0;
	left: 0;
}

.app-nav {
	position: fixed;
	height: 2rem;
	width: 100vw;
	top: 4rem;
	left: 0;
}

.app-background {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}

.app-nav ul {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	list-style: none;
}

.app-nav ul li a {
	color: black;
}

.app-main {
	position: fixed;
	top: 6rem;
	left: 0;
	height: calc(100vh - 4rem) !important;
	width: 100vw !important;
}

