* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* border: solid .1px black; */
}

@font-face {
	font-family: "Manrope-Bold";
	src: url("../assets/Manrope-Bold.woff2");
}


@font-face {
	font-family: "Manrope-ExtraBold";
	src: url("../assets/Manrope-ExtraBold.woff2");
}


@font-face {
	font-family: "Manrope-ExtraLight";
	src: url("../assets/Manrope-ExtraLight.woff2");
}

@font-face {
	font-family: "Manrope-Light";
	src: url("../assets/Manrope-Light.woff2");
}


@font-face {
	font-family: "Manrope-Medium";
	src: url("../assets/Manrope-Medium.woff2");
}


@font-face {
	font-family: "Manrope-Regular";
	src: url("../assets/Manrope-Regular.woff2");
}


@font-face {
	font-family: "Manrope-SemiBold";
	src: url("../assets/Manrope-SemiBold.woff2");
}

@keyframes left-fade-in {
	0% {
		opacity: 0;
		transform: translateX(-2rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes right-fade-in {
	0% {
		opacity: 0;
		transform: translateX(2rem);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes neon {
	0% {
		text-shadow: none;
	}
	100% {
		text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

:root {
	--default-text-color: rgba(255, 255, 255, 0.8);
	--hovered-text-color: rgba(255, 255, 255, 1);
	--layout-background-color: rgba(20, 20, 26, 0.75);
}

.app {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.95);
}

.app-error {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.app-error__content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.app-error__content > * {
	color: var(--default-text-color);
	font-family: "Manrope-Light";
	user-select: none;
}

.app-error__content > a {
	animation: neon 1s infinite alternate-reverse;
	margin: 1rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 8rem;
	height: 3rem;
	border: solid 1px rgba(255, 255, 255, 0.33);
	text-decoration: none;
	color: var(--default-text-color);
	transition: corlor, border 0.25s;
}

.app-error__content > a:hover {
	color: var(--hovered-text-color);
	border: solid 1px var(--default-text-color);
}

.app-header {
	position: fixed;
	height: 6rem;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 10;
	padding: 1rem;
	background-color: var(--layout-background-color);
	pointer-events: none;
}

.app-footer {
	position: fixed;
	height: 3rem;
	width: 100vw;
	top: calc(100vh - 3rem);
	left: 0;
	z-index: 10;
	background-color: var(--layout-background-color);
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 1rem;
}

.app-footer__language {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 1rem;
}

.app-footer__language > button {
	cursor: pointer;
	height: 1.2rem;
	color: var(--default-text-color);
	background-color: transparent;
	border: none;
	font-family: "Manrope-SemiBold";
	font-size: 0.9rem;
	text-decoration: underline;
	user-select: none;
	transition: color 0.25s;
}

.app-footer__language > button:hover {
	color: var(--hovered-text-color);
}

.app-footer .active {
	text-decoration: none;
	color: var(--hovered-text-color);
	font-family: Manrope-ExtraBold;
}

.app-header__title {
	font-size: 2rem;
	color: var(--default-text-color);
	font-family: "Manrope-Light";
	user-select: none;
}

.app-header__subtitle {
	font-size: 1rem;
	color: var(--default-text-color);
	font-family: "Manrope-Light";
	letter-spacing: 1.2px;
	user-select: none;
}

.loaded {
	animation: fade-in 2.5s forwards;
} 

.app-background {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 1;
	opacity: 0;
}

.app-nav {
	position: fixed;
	height: 2rem;
	width: 100vw;
	top: 6rem;
	left: 0;
	z-index: 100;
	padding: 0 1rem;
}

.app-nav ul {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	list-style: none;
	align-items: center;
}

.app-nav ul li a {
	color: var(--default-text-color);
	font-family: "Manrope-Light";
	font-size: 0.9rem;
	user-select: none;
	cursor: default;
	transition: color 0.25s;
}

.app-nav ul li a:hover {
	cursor: pointer;
	color: var(--hovered-text-color);
}

.app-nav ul li .active-route {
	text-decoration: none;
	font-family: "Manrope-Bold";
	color: var(--hovered-text-color);
}


main {
	position: fixed;
	top: 9rem;
	left: 0;
	height: calc(100vh - 12rem);
	width: 100vw;
	z-index: 2;
	padding: 1rem;
}
