* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: solid .1px black;
}

@font-face {
	font-family: "Manrope-Bold";
	src: url("../assets/Manrope-Bold.woff2");
}


@font-face {
	font-family: "Manrope-ExtraBold";
	src: url("../assets/Manrope-ExtraBold.woff2");
}


@font-face {
	font-family: "Manrope-ExtraLight";
	src: url("../assets/Manrope-ExtraLight.woff2");
}

@font-face {
	font-family: "Manrope-Light";
	src: url("../assets/Manrope-Light.woff2");
}


@font-face {
	font-family: "Manrope-Medium";
	src: url("../assets/Manrope-Medium.woff2");
}


@font-face {
	font-family: "Manrope-Regular";
	src: url("../assets/Manrope-Regular.woff2");
}


@font-face {
	font-family: "Manrope-SemiBold";
	src: url("../assets/Manrope-SemiBold.woff2");
}

.app {
	position: fixed;
}

.app-header {
	position: fixed;
	height: 6rem;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 100;
	padding: 1rem;
	background-color: rgba(0, 1, 5, 0.75);
	pointer-events: none;
}

.app-footer {
	position: fixed;
	height: 3rem;
	width: 100vw;
	top: calc(100vh - 3rem);
	left: 0;
	z-index: 100;
	background-color: rgba(0, 1, 5, 0.75);
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 1rem;
}

.app-footer__language {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 1rem;
}

.app-footer__language button {
	cursor: pointer;
	height: 1.2rem;
	color: white;
	background-color: transparent;
	border: none;
	font-family: "Manrope-SemiBold";
	font-size: 0.9rem;
	text-decoration: underline;
}

.app-footer__language button:hover {

}

.app-header__title {
	font-size: 2rem;
	color: white;
	font-family: "Manrope-Light";
}

.app-header__subtitle {
	font-size: 1rem;
	color: white;
	font-family: "Manrope-Light";
}

.app-background {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 1;
}

.app-nav {
	position: fixed;
	height: 2rem;
	width: 100vw;
	top: 6rem;
	left: 0;
	z-index: 100;
	padding: 0 1rem;
}

.app-nav ul {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	list-style: none;
	align-items: center;
}

.app-nav ul li a {
	color: white;
	font-family: "Manrope-Light";
	text-decoration: none;
	font-size: 0.9rem;
}

.app-main {
	position: fixed;
	top: 9rem;
	left: 0;
	height: calc(100vh - 12rem);
	width: 100vw;
	z-index: 2;
	color: white;
	padding: 1rem;
}

