.app-introduction {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
}

.app-introduction__text {
	font-family: "Manrope-Regular";
	animation: left-fade-in 1.5s;
	user-select: none;
}

.app-introduction__text > * {
	margin: 0.5rem 0;
	line-height: 1.5rem;
	font-size: 1rem;
	font-weight: 400;
	text-align: justify;
	color: var(--default-text-color);
}

@media screen and (min-width: 768px) {
	.app-introduction__text {
		width: 25%;
	}
}

@media screen and (min-width: 1280px) {
	.app-introduction__text {
		width: 20%;
	}
}

@media screen and (min-width: 1600px) {
	.app-introduction__text {
		width: 12.5%;
	}
}

@media screen and (min-width: 1600px) {}

@media screen and (min-width: 2560px) {}

@media screen and (min-width: 3840px) {}